<!DOCTYPE html>
<html>
<head>
    <title>Générateurs de parties pour le Lotto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/w3.css">
</head>
<body>
    <header class="w3-container w3-teal">
        <h1>Lotto-swch</h1>
    </header>
    <div class="w3-container">
        <h1>Dernier tirage : 
            <div id='tirageActuel' class="w3-badge w3-orange w3-xlarge">&nbsp;</div>
        </h1>
    </div>
    <div class="w3-container" style>
        <div class="w3-bar">
            <button id="boutonTirage" class="w3-button w3-black w3-left" onclick="next()">Tirage</button>
            <a href="/" class="w3-button w3-black w3-right">Nouvelle partie</a>
        </div>
    </div>
    <div class="w3-container">
        <table class="w3-table w3-centered">
            {% for i in range(1,11) %}
                <tr>  
                    {% for j in range(0,9) %}
                        {% set jeton = j*10 + i %}
                        <th class='w3-border'><span id="jeton_{{ jeton }}" class="w3-badge w3-xlarge w3-orange" style="visibility: hidden">{{ jeton }}</span></th>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    <div>
    <script>
        var game = {{ new_game }}
        var i = 0
        function next() {
            document.getElementById("tirageActuel").innerHTML = game[i]
            document.getElementById("jeton_"+game[i]).style.visibility = 'visible'
            if (++i==90){
                document.getElementById("boutonTirage").style.visibility = 'hidden'
            }
        }
    </script>
</body>
</html>